*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("image/ama logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

border {
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

/** box2 **/
.add-first{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display:flex;
    align-items: center;
}
/** box3 **/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(228, 184, 49);
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.Search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.Search-input{
    width: 100%;
    font-size: 1rem;
    border: none
}

.Search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2rem;
    background-color: #d49542;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;    
}

.nav-search:hover{
    border: 2px solid orange;
}

/** box 4 **/
span {
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-signin{
    margin-left: 100px;
}

.nav-returns{
    margin-left: 150px;
}

.nav-cart{
    margin-left: 150px;
    font-size: 15px;
    font-weight: 700;
}

/** panel **/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops {
    display: inline;
}
.panel-ops {
    width: 50%;
}

/** hero section **/
.hero-section {
    background-image: url("image/book.jpg");
    background-size: cover;
    height: 300px;
}

/** shop section**/
.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    border: 2px solid black;
    height: 300px;
    width: 23%;
    background-color: white;
}

.box-img1 {
    height: 300px;
    background-size: cover;
}

.box-img2 {
    height: 300px;
    background-size: cover;
}
.box-img3 {
    height: 300px;
    background-size: cover;
}

.box-img4 {
    height: 300px;
    background-size: cover;
}

